@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --background-color: #262626;
    --background-color-light: #979797;
    --background-color-dark: #1e1e1e;
    --navigation-bar-background-color: rgb(10, 10, 10, 0.8);
    --primary-accent-color: #ff861b;
    --text-color: #979797;
    --text-color-light: #d9d9d9;
    --text-color-dark: #1a1a1a;
}

html {
    margin: 0;
    font-family: "Rubik";
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 2em;
    z-index: 2;
    background-color: var(--navigation-bar-background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: fit-content;
    box-shadow: 0 0 1.5rem 0 rgba($color: #000000, $alpha: 0.35);

    .logo-and-titles-container {
        display: flex;
        flex-direction: row;
        margin: 4em 1.5em 1.5em 1.5em;
    }

    .nav-menu-links-container {
        flex-grow: 1;

        .close-navigation-button {
            display: none;
            position: fixed;
            top: 0.75em;
            right: 0.75em;
            font-weight: bold;
            font-size: 1.2em;
            p {
                color: var(--text-color);
                margin: 0;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: var(--primary-accent-color);
                }
            }
        }
    }

    .mobile-menu-button {
        display: none;
        align-self: center;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 2em;
    }

    .site-logo {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-right: 0.5em;
    }

    .artist-name {
        font-style: italic;
        font-size: 1.25em;
        font-weight: 400;
        margin: 0;
        margin-top: 0.65em;
        color: var(--primary-accent-color);
    }

    .artist-title {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        margin-left: 1.2em;
        color: var(--text-color-light);
    }

    .navigation-link {
        font-weight: 300;
        font-size: 1.4em;
        text-decoration: none;
        color: var(--text-color);
        transition: 0.5s;

        &:hover {
            color: var(--primary-accent-color);
        }
    }

    .current-page {
        color: var(--primary-accent-color);
    }

    li {
        margin: 1.2em;
        margin-left: 1.5em;
    }

    .navigation-menu-footer {
        color: var(--text-color);

        p {
            font-style: italic;
            margin-left: 1.6em;
            font-size: 0.9em;
        }
    }
}

.home-page-slide-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s;
    z-index: 1;
    background-image: url(../images/Homepage_Screen_01.jpg);
}
.slide1 {
    background-image: url(../images/Homepage_Screen_01.jpg);
}
.slide2 {
    background-image: url(../images/Homepage_Screen_02.jpg);
}
.slide3 {
    background-image: url(../images/Homepage_Screen_03.jpg);
}
.slide4 {
    background-image: url(../images/Homepage_Screen_04.jpg);
}
.slide5 {
    background-image: url(../images/Homepage_Screen_05.jpg);
}

@media screen and (max-width: 750px) {
    .home-page-slide-block {
        background-position: 58% center;
    }

    .navigation-bar {
        flex-direction: row;
        height: 6em;
        left: 0;
        width: 100%;
        max-width: 100%;

        .logo-and-titles-container {
            margin: 0;
            margin-left: 1em;
            align-items: center;
        }
        .artist-name {
            margin-top: 0;
        }

        .mobile-menu-button {
            display: flex;

            .svg-container:hover {
                cursor: pointer;
                path {
                    fill: var(--primary-accent-color);
                }
            }
        }

        .nav-menu-links-container {
            position: fixed;
            width: 9em;
            height: 100%;
            right: 0;
            background-color: var(--background-color-dark);
            padding: 4em 1em 0 0;
            display: block;
            display: none;

            ul {
                text-align: right;
            }

            .close-navigation-button {
                display: block;
            }
        }

        .menu-open {
            display: block;
        }

        .navigation-menu-footer {
            display: none;
        }
    }
}
