@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --backgroundColor: #262626;
    --backgroundColorLight: #979797;
    --backgroundColorDark: #1e1e1e;
    --navBarBackgroundColor: rgb(10, 10, 10, 0.8);
    --primaryAccentColor: #ff861b;
    --textColor: #979797;
    --textColorLight: #d9d9d9;
    --textColorDark: #1a1a1a;
}

html,
body {
    margin: 0;
    font-family: "Rubik";
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
}

body {
    position: relative;
    z-index: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar {
    position: fixed;
    left: 2em;
    z-index: 2;
    background-color: var(--navBarBackgroundColor);
    display: flex;
    flex-direction: column;
    height: inherit;
    height: 100%;
    max-width: fit-content;

    .header {
        display: flex;
        flex-direction: row;
        margin: 4em 1.5em 1.5em 1.5em;
    }

    .body {
        flex-grow: 1;

        .closeButton {
            display: none;
            position: fixed;
            top: 0.75em;
            right: 0.75em;
            font-weight: bold;
            font-size: 1.2em;
            p {
                color: var(--textColor);
                margin: 0;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    color: var(--primaryAccentColor);
                }
            }
        }
    }

    .menuButton {
        display: none;
        color: var(--textColor);
        align-self: center;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;

        p {
            cursor: pointer;
            margin-right: 2em;
            font-weight: 300;
            font-size: 1.4em;
            transition: 0.5s;
            max-width: fit-content;

            &:hover {
                color: var(--primaryAccentColor);
            }
        }
    }

    .mainLogo {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-right: 0.5em;
    }

    .artistName {
        font-style: italic;
        font-size: 1.25em;
        font-weight: 400;
        margin: 0;
        margin-top: 0.65em;
        color: var(--primaryAccentColor);
    }

    .artistTitle {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        margin-left: 1.2em;
        color: var(--textColorLight);
    }

    .sideBarNavLink {
        font-weight: 300;
        font-size: 1.4em;
        text-decoration: none;
        color: var(--textColor);
        transition: 0.5s;

        &:hover {
            color: var(--primaryAccentColor);
        }
    }

    .currentPage {
        color: var(--primaryAccentColor);
    }

    li {
        margin: 1.2em;
        margin-left: 1.5em;
    }

    .footer {
        color: var(--textColor);

        p {
            font-style: italic;
            margin-left: 1.6em;
            font-size: 0.9em;
        }
    }
}

.homePageSlideBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s;
    z-index: 1;
    background-image: url(../images/Homepage_Screen_01.jpg);
}
.slide1 {
    background-image: url(../images/Homepage_Screen_01.jpg);
}
.slide2 {
    background-image: url(../images/Homepage_Screen_02.jpg);
}
.slide3 {
    background-image: url(../images/Homepage_Screen_03.jpg);
}
.slide4 {
    background-image: url(../images/Homepage_Screen_04.jpg);
}
.slide5 {
    background-image: url(../images/Homepage_Screen_05.jpg);
}

@media screen and (max-width: 750px) {
    .navBar {
        flex-direction: row;
        height: 6em;
        left: 0;
        width: 100%;
        max-width: 100%;

        .header {
            margin: 0;
            margin-left: 1em;
            align-items: center;
        }
        .artistName {
            margin-top: 0;
        }

        .menuButton {
            display: flex;
        }

        .body {
            position: fixed;
            width: 9em;
            height: 100%;
            right: 0;
            background-color: var(--backgroundColorDark);
            padding: 4em 1em 0 0;
            display: block;
            display: none;

            ul {
                text-align: right;
            }

            .closeButton {
                display: block;
            }
        }

        .menuOpen {
            display: block;
        }

        .footer {
            display: none;
        }
    }
}
