.portfolioGallery {
    position: relative;
    left: 25em;
    top: 4em;
    width: calc(100% - 28em);
    box-sizing: border-box;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    .thumbnail {
        position: relative;

        .portfolioLink {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.35);

            .overlay {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 0;
                bottom: 0;
                background-color: var(--background-color-light);
                transition: 0.5s;

                p {
                    margin: 0;
                    text-align: center;
                    color: var(--text-color-light);
                    transform: scaleY(0);
                    transition: 0.5s;
                    font-size: 1.35em;
                }
            }

            img {
                display: block;
                width: calc(100% - 2px);
                border: 1px solid var(--background-color);
                border-radius: inherit;
            }
        }
    }
}

@media screen and (max-width: 1750px) {
    .portfolioGallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1250px) {
    .portfolioGallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .portfolioGallery {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .portfolioGallery {
        left: 2rem;
        top: 8rem;
        width: calc(100% - 4em);
    }
}

@media (hover: hover) {
    .portfolioGallery {
        .thumbnail {
            .portfolioLink:hover {
                .overlay {
                    height: calc(50% - 2rem);

                    p {
                        transform: scaleY(1);
                    }
                }
            }
        }
    }
}