.projectContainer {
  position: relative;
  left: 25rem;
  top: 4rem;
  width: calc(100% - 28rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectContainer img {
  max-height: 95vh;
  max-width: calc(100% - 8rem);
  border-radius: 2rem;
  margin: 2rem 4rem;
}

.projectContainer h3 {
  margin: 1rem 4rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-align: center;
  color: var(--textColorDark);
  background-color: var(--backgroundColorLight);
  padding: 1rem 3rem;
  border-radius: 1rem 3rem;
}

.projectContainer p {
  max-width: 65%;
  margin: 1.25rem 4rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  color: var(--textColorLight);
}

.projectContainer ul {
  margin: 0 4rem;
  list-style-type: disc;
}

.projectContainer li {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  color: var(--textColor);
}

.projectContainer .columnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.screenImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--navBarBackgroundColor);
}

.screenImageOverlay img {
  margin: 4em 8em 1em 4em;
  max-height: calc(100% - 8em);
  max-width: calc(100% - 16em);
}

.screenImageOverlay .caption {
  font-size: 1.5em;
  color: var(--textColorLight);
}

.textureSwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 4rem;
}

.textureSwatch img {
  margin: 0;
  position: absolute;
}

.textureSwatch .swatchImageD {
  position: relative;
  max-width: 100%;
}

.textureSwatch .swatchImageAO {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-clip-path: polygon(25% 0, 50% 0, 50% 0, 25% 0);
          clip-path: polygon(25% 0, 50% 0, 50% 0, 25% 0);
}

.textureSwatch .swatchImageN {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
          clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
}

.textureSwatch .swatchImageR {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
          clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
}

.textureSwatch:hover img {
  opacity: 100;
}

.textureSwatch:hover .swatchImageAO {
  -webkit-clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
          clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
}

.textureSwatch:hover .swatchImageN {
  -webkit-clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
          clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
}

.textureSwatch:hover .swatchImageR {
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
}
/*# sourceMappingURL=projectPages.css.map */