html {
    scroll-behavior: smooth;
}

.project-container {
    position: relative;
    left: 25rem;
    top: 4rem;
    width: calc(100% - 28rem);
    box-sizing: border-box;
    display: grid;
    gap: 2rem;
    justify-items: center;
}

.project-image {
    max-height: 95vh;
    max-width: 95vh;
    width: 100%;
    border-radius: 1rem;
    // box-shadow: 0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.35);
}

.project-card {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-dark);
    border-radius: 1rem;
    color: var(--text-color);
    // box-shadow: 0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        color: var(--primary-accent-color);
        font-size: 1.5rem;
        margin: 2rem;
    }

    ul {
        align-self: flex-start;
        margin: 0 2rem 2rem;
    }

    li {
        margin: 0 0 0.5rem;
        list-style: disc inside;
    }

    p {
        margin: 0 2rem 2rem;
        max-width: 60ch;
        line-height: 1.6;
    }
}

.title-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px auto;
    max-width: 95vh;
    width: 100%;
    gap: 2rem;

    .project-title {
        margin: 0;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        // text-align: center;
        color: var(--text-color-light);
        justify-self: start;
        align-self: center;
    }
}

.info-section {
    max-width: 95vh;
    width: 100%;
    display: grid;
    grid-template:
        "desc software"
        "desc aspects";
    gap: 2rem;

    img {
        display: none;
    }

    .description {
        grid-area: desc;
    }

    .software-list {
        grid-area: software;
    }

    .aspects-list {
        grid-area: aspects;
    }
}

.project-page-footer {
    display: grid;
    grid-auto-flow: column;

    .navigation-link {
        font-weight: 300;
        font-size: 1.4em;
        text-decoration: none;
        color: var(--text-color);
        transition: 0.5s;
        margin: 1rem;

        &:hover {
            color: var(--primary-accent-color);
        }
    }
}

.texture-swatch {
    display: grid;
    grid-template-columns: 1fr;

    img {
        margin: 0;
        grid-row: 1;
        grid-column: 1/2;
        max-height: 95vh;
        max-width: 100%;
        border-radius: 1rem;
    }

    .swatch-image-D {
        box-shadow: 0 0.5rem 1.5rem 0 rgba($color: #000000, $alpha: 0.35);
    }

    .swatch-image-AO {
        opacity: 0;
        transition: 0.4s;
        clip-path: polygon(25% 0, 50% 0, 50% 0, 25% 0);
    }

    .swatch-image-N {
        opacity: 0;
        transition: 0.5s;
        clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
    }

    .swatch-image-R {
        opacity: 0;
        transition: 0.6s;
        clip-path: polygon(75% 0, 100% 0, 100% 0, 75% 0);
    }
}

.texture-swatch:hover {
    img {
        opacity: 100;
    }

    .swatch-image-AO {
        clip-path: polygon(25% 0, 50% 0, 50% 100%, 25% 100%);
    }

    .swatch-image-N {
        clip-path: polygon(50% 0, 75% 0, 75% 100%, 50% 100%);
    }

    .swatch-image-R {
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 75% 100%);
    }
}

@media screen and (max-width: 1180px) {
    .project-container {
        left: 2rem;
        top: 8rem;
        width: calc(100% - 4rem);
    }

    .navigation-bar {
        flex-direction: row;
        height: 6em;
        left: 0;
        width: 100%;
        max-width: 100%;

        .logo-and-titles-container {
            margin: 0;
            margin-left: 1em;
            align-items: center;
        }

        .artist-name {
            margin-top: 0;
        }

        .mobile-menu-button {
            display: flex;
        }

        .nav-menu-links-container {
            position: fixed;
            width: 9em;
            height: 100%;
            right: 0;
            background-color: var(--background-color-dark);
            padding: 4em 1em 0 0;
            display: block;
            display: none;

            ul {
                text-align: right;
            }

            .close-navigation-button {
                display: block;
            }
        }

        .menu-open {
            display: block;
        }

        .navigation-menu-footer {
            display: none;
        }
    }
}

@media screen and (max-width: 650px) {
    .project-container {
        gap: 1rem;
    }

    .title-container {
        gap: 1rem;

        .project-graphic {
            width: 85px;
        }

        .project-title {
            font-size: 2rem;
        }
    }

    .info-section {
        gap: 1rem;
        grid-template:
            "desc"
            "img1"
            "software"
            "img2"
            "aspects";

        img {
            display: block;
        }
    }

    .info-img1 {
        grid-area: img1;
    }

    .info-img2 {
        grid-area: img2;
    }

    .hide-img {
        display: none;
    }

    .software-list {
        ul {
            display: flex;
            align-self: center;
            flex-wrap: wrap;
        }

        li {
            padding: 0 0.5rem;
        }
    }

    .aspects-list {
        ul {
            display: flex;
            align-self: center;
            flex-wrap: wrap;
        }

        li {
            padding: 0 0.5rem;
        }
    }
}
