.border-solid-s {
    border: var(--size-border-width-s) solid;
}

.border-solid-m {
    border: var(--size-border-width-m) solid;
}

.border-solid-l {
    border: var(--size-border-width-l) solid;
}
