.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media screen and (max-width: 1024px) {
    .grid-columns {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.align-items-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.nav-gutter {
    padding-left: calc(var(--navigation-width) + (var(--size-padding-xl) * 2));
}

@media screen and (max-width: 1024px) {
    .nav-gutter {
        padding-left: var(--size-padding-xl);
        padding-top: calc(var(--navigation-height) + var(--size-padding-xl));
    }
}

.seperator {
    height: 4px;
    margin: 0;
    border-radius: 2px;
}

.grid-columns-2x1 {
    display: grid;
    grid-template-columns: minmax(350, 2fr) 1fr;
}
