.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.gap {
    gap: var(--gap, 0);
}

.nav-gutter {
    margin-left: calc(var(--navigation-width) + (var(--size-margin-xl) * 2));
}

@media (max-width: 1024px) {
    .nav-gutter {
        margin-left: var(--size-margin-xl);
        margin-top: calc(var(--navigation-height) + var(--size-margin-xl));
    }
}
