.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.hidden {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.gap {
    gap: var(--gap, 0);
}
