@import "../variables";

.color-bg-nav-transparent {
    background-color: var(--color-background-navigation-transparent);
}

.color-bg-nav-solid {
    background-color: var(--color-background-navigation-solid);
}

.color-font-accent-400 {
    color: var(--color-font-accent-400);
}

.color-font-accent-700 {
    color: var(--color-font-accent-700);
}
