@import "../variables";

.clr-bg-light {
    background-color: var(--color-background-light);
}

.clr-bg-base {
    background-color: var(--color-background-base);
}

.clr-bg-dark {
    background-color: var(--color-background-dark);
}

.clr-bg-brand-light {
    background-color: var(--color-background-brand-light);
}

.clr-bg-brand-base {
    background-color: var(--color-background-brand-base);
}

.clr-bg-brand-dark {
    background-color: var(--color-background-brand-dark);
}

.clr-bg-overlay-dark {
    background-color: var(--color-background-overlay-dark);
}

.clr-font-light {
    color: var(--color-font-light);
}

.clr-font-base {
    color: var(--color-font-base);
}

.clr-font-accent-light {
    color: var(--color-font-accent-light);
}

.clr-font-accent-base {
    color: var(--color-font-accent-base);
}
