.about-me {
    p {
        max-width: 60ch;
    }
}

@media screen and (max-width: 1024px) {
    .about-me {
        &.grid-columns {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }
}

@media screen and (max-width: 699px) {
    .about-me {
        &.grid-columns {
            grid-template-columns: 1fr;
        }
    }
}
