@media screen and (max-width: 1080px) {
    .experience-header {
        flex-direction: column;

        img {
            width: 240px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .experience-header {
        flex-direction: row;

        img {
            width: 140px;
        }
    }
}

@media screen and (max-width: 756px) {
    .experience-header {
        flex-direction: column;

        img {
            width: 240px;
        }
    }
}

@media screen and (max-width: 566px) {
    .experience-header {
        h1 {
            font-size: var(--size-font-xxl);
        }

        h2 {
            font-size: var(--size-font-xl);
        }
    }
}
